
body{
    margin-left:10px;
    background-color: rgb(239, 233, 233);
    
}
.container {
    display: flex;
    width: 100%; 
    height: 100px; 
}

.left{
    background-color: rgb(34, 89, 64);
    width: 215px;
    height:350px;
    padding-top:150px;
    padding-bottom:0px;
    padding-left:50px;
    padding-right:50px;
    position:absolute;
    color: white;
    border-radius:10px;
    margin-top:100px;
    margin-left:50px;
}

.right{
    background-color: white;
    margin-left:365px;
    width: 300px;
    height:350px; 
    padding-top:50px;
    padding-bottom:100px;
    padding-left:0px;
    padding-right:90px;
    position:absolute;
    color: rgb(96, 171, 139);
    border-radius:10px;
    margin-top:100px;
}

h1{
    padding-left:0px;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2{
    padding-left:70px;
    font-size:30px;
    color:rgb(34, 89, 64);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.par{
    font-size:small;
    margin-left: 30px;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh; 
}

.signin-button {
    width: 80%;
    padding: 15px; 
    background-color: transparent; 
    color: white; 
    border: 1px solid white;
    border-radius: 30px; 
    cursor: pointer; 
    font-size: x-small; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 30px; 
    margin-left: 30px;
}

.signin-button:hover, .signup-button:hover {
    background-color: darkgray; 
    color: white; 
}
.social-icons {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    padding-left: 70px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent; 
    border: 2px solid rgb(169, 171, 139);
    color: black;
    text-decoration: none; 
    margin-bottom:10px;
    transition: background-color 0.3s, color 0.3s;
}
.icon:hover {
    background-color: rgb(169, 171, 139);
    color: white; 
}
.form-container {
    max-width: 400px; 
    margin: 0 auto ; 
    margin-left:10px;
    padding: 20px;
    background-color: white; 
    
}

.input-group {
    margin-top:20px;
    margin-left:40px;
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px;
}

input {
    width: 120%; 
    padding: 10px; 
    border: none;
    background-color: aliceblue;
    border-radius: 2px; 

}

.signup-button {
    width: 70%; 
    padding: 15px;
    background-color: rgb(34, 89, 64);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: small;
    transition: background-color 0.3s ease; 
    margin-top: 10px;
    margin-left:80px;
}
.submit-button:hover {
    background-color: rgb(169, 169, 169); 
}

/*.input-icon{
    position: relative;
}
.input-icon{
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); /
    color: rgb(96, 171, 139); 
}    
*/    
